<html>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<link href="http://waveform.prototyping.bbc.co.uk/css-modules/house-style.css" rel="stylesheet" type="text/css" />
<link href="http://waveform.prototyping.bbc.co.uk/peaks/peaks.css" rel="stylesheet" type="text/css" />
<header class="masthead">
  <div class="grid">
    <div class="grid-col grid-12">
      <span class="masterbrand">BBC</span>
      <span class="dept">Research &amp; Development</span>
    </div>
  </div><!-- .grid -->
</header>
<div class="grid">
<title><%= @page_title %></title>

<body>
  <h1><%= @page_title %></h1>
  <ul>
    <%require 'csv'%>
    
    <% Dir.glob(@input_directory+'*.mp3') do |mp3_file| %>
    <%title = CSV.read(Dir.glob(@input_directory+@uuid+'.metadata.csv')[0]).first[0]%>
    <%= "<li><a href='item/#{File.basename(mp3_file).gsub('.mp3','')}'>#{title}</a>  <a href='item/#{File.basename(mp3_file).gsub('.mp3','')}/ground-truth'>ground-truth</a>  <a href='item/#{File.basename(mp3_file).gsub('.mp3','')}/cfa'>cfa</a>  <a href='item/#{File.basename(mp3_file).gsub('.mp3','')}/zcr'>zcr</a></li>"%>
    <% end %>
  </ul>  
</body>
</div>
<footer class="masthead">
  <div class="grid">
    <span>&copy; Copyright 2014 BBC Research and Development</span>
  </div>
</footer>
</html>